
<% article.forEach(element => { %>
    <div class="flex flex-row gap-10 my-3 justify-center items-center">
        
        <div class="flex justify-center bg-blue-600 rounded px-6 py-1"> 
            <form action="/gestion/update/<%- element.postID %>" method="POST">
                <input type="hidden" name="title" value="<%- element.title %>">
                <input type="hidden" name="auteur" value="<%- element.auteur %>">
                <input type="hidden" name="content" value="<%- element.content %>">
                <input type="hidden" name="image"  value="<%- element.image %>">
                <input type="hidden" name="id" value="<%- element.postID %>">
                <button type="submit" class="text-sm font-bold text-white">Update</button>
              </form>      
        </div> 
        <div class="flex justify-center bg-red-600 rounded px-6 py-1"> 
            <form action="/article/delete/<%- element.postID %>" method="POST">
                <button type="submit" class="text-sm font-bold text-white">Delete</button>
              </form>      
        </div>
        
    </div>

    
    <!-- <form method="POST" action="/article/delete/<%= element.postID %>">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="hover:opacity-75 flex max-w-3xl">Delete</button>
      </form> -->
      

  <article class="flex flex-col shadow my-4 justify-center items-center ">
      <!-- Article Image -->
      <a href="#" class="hover:opacity-75 flex max-w-3xl ">
          <img src="/upload/<%- element.image %>" >
      </a>
        <div class="bg-white flex flex-col justify-start p-6">
            <p class="text-blue-700 text-sm font-bold uppercase pb-4">Technology</p>
            <p class="text-3xl font-bold hover:text-gray-700 pb-4"><%- element.title %></a>
            <p href="#" class="text-sm pb-8">
                By <a href="#" class="font-semibold hover:text-gray-800"><%- element.auteur %></a>, <%- element.datePublication %>
            </p>
            <!-- <h1 class="text-2xl font-bold pb-3">Introduction</h1>
            <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel neque non libero suscipit suscipit eu eu urna. Proin bibendum urna mattis ante malesuada ultrices. Etiam in turpis vitae elit dictum aliquet. Donec mattis risus in turpis dapibus, eget tempus sem tincidunt. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In est enim, imperdiet sed ornare quis, pellentesque vel risus. Nunc vitae vestibulum turpis. Quisque eget eleifend urna. Etiam et vulputate purus, ut egestas sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis quis neque non urna venenatis mollis et at massa. Pellentesque sem lacus, malesuada vel hendrerit molestie, mollis vel elit.</p>
            <h1 class="text-2xl font-bold pb-3">Heading</h1>
            <p class="pb-3">Vivamus nec facilisis elit, quis congue justo. In non augue ex. Aenean pretium facilisis hendrerit. Sed sed imperdiet dui. Etiam faucibus a diam sed vehicula. Nullam commodo lacus tincidunt, tincidunt orci sed, dapibus leo. Vivamus vulputate quis risus a ultricies. Aliquam luctus id tellus non condimentum. Aenean maximus viverra ipsum eget vestibulum. Morbi ut tincidunt sem, efficitur volutpat tortor. Donec scelerisque, ipsum eu efficitur semper, neque turpis sodales quam, in aliquam elit lacus varius lorem. Ut ut diam id leo efficitur malesuada eget in velit. Pellentesque tristique orci nunc, vitae fermentum nibh luctus eu. Mauris condimentum justo sed ipsum egestas varius.</p>
            <p class="pb-3">Sed sagittis odio a volutpat feugiat. Cras aliquam varius justo, a rhoncus ante bibendum id. Nulla maximus nisl sed enim maximus, ut dictum lectus hendrerit. Fusce venenatis tincidunt eros. Phasellus quis augue vulputate ipsum pellentesque fringilla. Morbi nec tempor felis. Maecenas sollicitudin pellentesque dui, sit amet scelerisque mauris elementum nec. Cras ante metus, mattis in malesuada in, fermentum a nunc. Suspendisse potenti. Sed tempor lacus sed commodo dignissim. Quisque dictum, dolor auctor iaculis cursus, ipsum urna porttitor ex, sed consequat nisi tellus eget ante. Duis molestie mollis eros, eu sollicitudin mauris lobortis quis.</p>
            <p class="pb-3">Vivamus sed neque nec massa scelerisque imperdiet eget id sapien. Fusce elementum mi id malesuada luctus. Proin quis lorem id leo porta interdum non ac nisl. Integer nulla sem, ultrices sed neque eget, blandit condimentum metus. Aliquam eget malesuada sapien. Curabitur aliquet orci sit amet ex tincidunt convallis. Mauris urna mi, consequat mattis mollis a, dignissim eget sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam facilisis sem diam, viverra consequat metus consequat vel. Cras a mi eu ex luctus malesuada quis eu ante. Aliquam erat volutpat.</p>
            <h1 class="text-2xl font-bold pb-3">Conclusion</h1> -->
            <p class="pb-3"><%- element.content %></p>
        </div>
    </article>

    <% }); %>


    

</section>

