
 <!-- Posts Section -->
 <section class="md:w-full w-2/3 flex flex-col justify-center items-center px-3">
    
  </section>
  <% blogs.forEach(element => { %>
    <article class="flex flex-col shadow my-4 justify-center items-center ">
        <!-- Article Image -->
        <a href="/article/<%- element.postID %>" class="hover:opacity-75 flex max-w-3xl ">
            <img src="/upload/<%- element.image %>" >
        </a>
        <div class="bg-white flex flex-col justify-start p-6 w-1/2">
            <a href="/article/<%- element.postID %>" class="text-blue-700 text-sm font-bold uppercase pb-4">Technology</a>
            <a href="/article/<%- element.postID %>" class="text-3xl font-bold hover:text-gray-700 pb-4"><%- element.title %></a>
            <p href="/article/<%- element.postID %>" class="text-sm pb-3">
                By <a href="/article/<%- element.postID %>" class="font-semibold hover:text-gray-800"><%- element.auteur %></a>, <%- element.datePublication %>
            </p>
            <a href="/article/<%- element.postID %>" class="pb-6 max-h-18 text-ellipsis truncate "><%- element.content %></a>
            <a href="/article/<%- element.postID %>" class="uppercase text-gray-800 hover:text-black">Continue Reading <i class="fas fa-arrow-right"></i></a>
        </div>
    </article>
    <% }); %>



   

</section>

