 <!-- Topic Nav -->
 
 <nav class="w-full py-4 border-t border-b bg-gray-100 flex flex-row" >
   
    <div :class="open ? 'block': 'hidden'" class="w-full flex-grow sm:flex sm:items-center sm:w-auto">
        <div class="w-full container mx-auto flex flex-col sm:flex-row items-center justify-center text-sm font-bold uppercase mt-0 px-6 py-2">
            <% categories.forEach(element => { %>
            <a href="#" class="hover:bg-gray-400 rounded py-2 px-4 mx-2"><%- element.name %></a>
            <% }); %>

        </div>
    </div>
    <form action="/gestion/search/getPosts" method="get" class="flex items-center mr-20">   
        <label for="simple-search" class="sr-only">Search</label>
        <div class="relative w-full">
            <input type="text" name="searchedName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full  p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search article categorie">
        </div>
        <button type="submit" class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
            <span class="sr-only">Search</span>
        </button>
    </form>
</nav>

 <!-- Posts Section -->
 <section class="md:w-full w-2/3 flex flex-col justify-center items-center px-3">
    
  </section>
  <% searchBlog.forEach(element => { %>
    <article class="flex flex-col shadow my-4 justify-center items-center ">
        <!-- Article Image -->
        <a href="/article/<%- element.postID %>" class="hover:opacity-75 flex max-w-3xl ">
            <img src="/upload/<%- element.image %>" >
        </a>
        <div class="bg-white flex flex-col justify-start p-6 w-1/2">
            <a href="/article/<%- element.postID %>" class="text-blue-700 text-sm font-bold uppercase pb-4">Technology</a>
            <a href="/article/<%- element.postID %>" class="text-3xl font-bold hover:text-gray-700 pb-4"><%- element.title %></a>
            <p href="/article/<%- element.postID %>" class="text-sm pb-3">
                By <a href="/article/<%- element.postID %>" class="font-semibold hover:text-gray-800"><%- element.auteur %></a>, <%- element.datePublication %>
            </p>
            <a href="/article/<%- element.postID %>" class="pb-6 max-h-18 text-ellipsis truncate "><%- element.content %></a>
            <a href="/article/<%- element.postID %>" class="uppercase text-gray-800 hover:text-black">Continue Reading <i class="fas fa-arrow-right"></i></a>
        </div>
    </article>
    <% }); %>



   

</section>

