<section class="mb-28">
    <h1 class="text-center text-3xl mb-20 mt-10 text-bold	">Gerer Categorie</h1>
<!-- --------------------------- Gerer Categorie --------------------------------- -->
<div class="flex flex-row gap-10">
        
        <div class="flex flex-col w-1/3 justify-center items-center">
            <h3 class="mb-3">Add Categorie</h3>
            <form action="/action_page.php">
                <input class="border rounded px-7" placeholder=" Enter name categorie" type="text" id="categorie" name="categorie" ><br><br>
                <div class="flex justify-center"> <!-- Use flex to center the input -->
                    <input class="py-2 px-8 rounded bg-green-400 text-white" type="submit" value="Add">
                </div>             
             </form> 

             </div>



             <div class="flex flex-col w-1/3 justify-center items-center">
                <h3 class="mb-1">Update Categorie</h3>
                <form action="/action_page.php">
                    <select class="m-4 border px-2" name="cars" id="cars">
                        <option value="volvo">Tech</option>
                      </select>
                    <input class="border rounded px-7 mb-4" placeholder=" Enter new name " type="text" id="categorie" name="categorie" >
                    <div class="flex justify-center"> <!-- Use flex to center the input -->
                        <input class="py-2 px-4 rounded bg-blue-400 text-white" type="submit" value="Update">
                    </div>          
                    </form> 
    
                 </div>
    
                 <div class="flex flex-col w-1/3 justify-center items-center">
                    <h3 class="mb-1">Delete Categorie</h3>
                    <form action="/action_page.php">
                        <select class="m-4 px-16 border-2" name="cars" id="cars">
                            <option value="volvo">Tech</option>
                          </select>
                        <div class="flex justify-center"> <!-- Use flex to center the input -->
                            <input class="py-2 px-4 rounded bg-red-400 text-white" type="submit" value="Delete">
                        </div>          
                        </form> 
        
                     </div>

</div>
<br><br><br>


<hr class="h-px my-8 bg-gray-200 border-2 dark:bg-gray-700">

<!-- ----------------------------------------------------------------------------- -->

<!-- --------------------------- ajouter Article --------------------------------- -->


<div>
    <h1 class="text-center text-3xl mb-20 mt-10 text-bold" >Ajouter nouveau article</h1>

    <% article.forEach(element => { %>
        <div class="ml-24">
        <form action="/article/update/<%- element.postID %>" method="post" enctype="multipart/form-data">
            <label class="mr-20" for="titre">Titre d'article : </label>
            <input class="border rounded px-7 mb-4 w-1/2" value="<%- element.title %>" type="text" id="titre" name="title"   ><br>
            <label class="mr-16" for="auteur">Auteur d'article : </label>
            <input class="border rounded px-7 mb-4" value="<%- element.auteur %>" type="text" id="auteur" name="auteur" >


            <div class="flex flex-row  items-center">

                <label class="mr-6" for="categorie">Selection categorie : </label>
                <select class="m-4 border px-20" name="categorie" id="categorie">
                    <option value="volvo">Tech</option>
                </select>
                <ul class="list-disc ml-8">
                    <li>Tech</li>
                  </ul>
                <input class="ml-8 px-8 rounded bg-gray-200 text-black" type="submit" value="Add">
            </div>
            <div class="flex flex-row">
                <p class="mr-14" for="contenu">Contenu d'article : </p>
                <textarea class="border w-1/2 " id="w3review" name="content" rows="4" cols="50"><%- element.content %></textarea>
            </div>
            <div class="mt-10">
                <label class="mr-9" for="categorie">Selection image : </label>
                <input type="hidden" name="imagePrevious"  value="<%- element.image %>">
                <input type="file" name="image" accept="image/*" />
                <br><br>
            </div>

            <div class="flex justify-center"> <!-- Use flex to center the input -->
                <input class="py-2 px-4 mt-10 rounded bg-green-400 text-white" type="submit" value="Update Article">
            </div>          
            </form> 
    </div>
    <% }); %>

</div>


<!-- ----------------------------------------------------------------------------- -->

</section>